* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

.logo {
    height: 35px;
}


.hero {
    padding: 10px 0;
}

.hero-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
    max-width: 500px;
}

.hero-img {
    max-width: 100%;
    height: auto;
}